@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-surface: #222222;
  --color-on-surface: #ffffff;
  --color-primary: #24C373;
  --color-on-primary: #ffffff;
  --color-secondary: #000000;
  --color-on-secondary: #ffffff;
  --color-error: #ff3b30;
  --color-outline: #ffffff;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-ticketbox-green: #24C373;
  --color-dark-gray: #222222;
  --color-pure-black: #000000;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.shadow-lvl-1 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

